[package]
name = "itch-io"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[[bin]]
name = "itch-io"
path = "src/main.rs"
required-features = [ "cli" ]

[dependencies]
once_cell = "1.16.0"
reqwest = { version = "0.11.13", default-features = false, features = [ "json", "cookies" ] }
scraper = { version = "0.13.0", default-features = false }
serde = { version = "1.0.151", features = ["derive"] }
thiserror = "1.0.37"
tokio = { version = "1.23.0", features = [ "rt" ] }
url = { version = "2.3.1", features = [ "serde" ] }

# Optional
anyhow = { version = "1.0.68", optional = true }
argh = { version = "0.1.9", optional = true }
itoa = { version = "1.0.5", optional = true }

[dev-dependencies]
tokio = { version = "1.23.0", features = [ "macros" ]  }

[features]
default = [
    "rustls-tls",
]

native-tls = [ "reqwest/native-tls" ]
rustls-tls = [ "reqwest/rustls-tls" ]

cli = [
    "anyhow",
    "argh",
    "itoa",
    "tokio/rt-multi-thread",
]
